@using Microsoft.AspNetCore.Identity
@using SmartSchedule.Dominio.Models
@using SmartSchedule.Dominio.Dtos
@using SmartSchedule.Dominio.Enums
@inject UserManager<AppUser> UserManager
@model TarefaDTO;

@{
	// Obtendo o usuário atualmente logado
	AppUser user = await UserManager.GetUserAsync(User);
}

<h1>Cadastrar Tarefa</h1>

<div class="Main">
	<form action="Cadastrar" method="post">
		<div class="form-group">
			<label asp-for="Titulo">Titulo</label>
			<input type="text" placeholder="Digite o titulo" class="form-control" asp-for="Titulo"/>
		</div>
		<div class="form-group">
			<label asp-for="Descricao">Descrição</label>
			<textarea type="text" placeholder="Digite o texto" class="form-control" asp-for="Descricao"></textarea>
		</div>

        <div class="form-group">
            <label>Prioridades</label>
            <select asp-for="Prioridade" class="form-control">
                <option value="">Selecione a prioridade</option>
                @foreach (var item in Enum.GetValues(typeof(EPrioridade)))
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Categorias</label>
            <select asp-for="Categoria" class="form-control">
                <option value="">Selecione a categoria</option>
                @foreach (var item in Enum.GetValues(typeof(ECategoria)))
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>
		<input type="submit" class="btn btn-primary mt-2"/>
	</form>
</div>